[2019-11-18 17:29] gsreynolds commented on #285
Looks like `first_client_run_recipe.rb` was introduced in #255
https://github.com/chef-partners/azure-chef-extension/commit/67ed323bdf963ae9e276db6911f80d4cbb79cde3#diff-071e0854a12e1a1e26aa93361d1fbacd

[2019-11-19 11:07] gsreynolds commented on #283
Fixed in #284

[2019-11-19 11:07] #283 closed

[2019-11-20 05:50] NAshwini commented on #280
Fixed in https://github.com/chef-partners/azure-chef-extension/pull/281. Closing it.

[2019-11-20 05:50] #280 closed

[2019-11-20 07:24] Vasu1105 commented on #285
Thanks @gsreynolds. We will be working on this and update you once fixed.

[2020-01-22 08:40] #285 closed

[2020-01-23 06:57] NAshwini commented on #259
We can pass `policy_name` and `policy_group` in `custom_json_attr` and issue regarding it has been resolved in PR https://github.com/chef-partners/azure-chef-extension/pull/287. Closing issue.

[2020-01-23 06:57] #259 closed

[2020-01-23 07:09] Vasu1105 commented on #259
We will be releasing this soon and will also be documenting the usage. Thank you @Xorima.

[2020-01-23 08:42] #282 closed

[2020-01-23 08:44] Vasu1105 commented on #272
Closing this as this is has azure extension architecture limitations.

[2020-01-23 08:44] #272 closed

[2020-02-10 15:48] danielcbright commented on #259
@Vasu1105 any updates on when this will be GA and documented?

[2020-02-11 05:21] Vasu1105 commented on #259
@danielcbright Yes in this week it will be out. Will notify the same.

[2020-02-14 10:24] NAshwini commented on #259
@danielcbright Thank You.
We have fix the issue and release it with latest extension https://github.com/chef-partners/azure-chef-extension/releases/tag/1210.13.2.3 and updated the docs with PR's https://github.com/chef-partners/azure-chef-extension/pull/288 and https://github.com/chef-partners/azure-chef-extension/pull/289

[2020-03-17 19:58] OBrienCommaJosh opened #290 "Error during Create action: "Cannot read property 'forEach' of undefined""
**Describe the bug**
User is attempting to implement the Chef Azure extension following the instructions at

`https://docs.chef.io/azure_portal/`

The user receives the following error when performing step 8

`"Cannot read property 'forEach' of undefined"`

This is occurring across both Linux and Windows extensions.

**To Reproduce**
To reproduce the bug follow the above instructions through step

[2020-03-17 22:21] davymcaleer commented on #290
@russellseymour can you triage this one please?

[2020-03-23 20:43] jgrenoble commented on #290
I noticed this as well, the Azure portal VM extension seems to be missing.

[2020-03-24 05:23] Vasu1105 commented on #290
@jgrenoble This is issue in relation to Azure portal and we are doing follow up with them. If possible use command line tools to work with azure-chef-extension till that time.

[2020-03-31 18:56] OBrienCommaJosh commented on #290
The Azure portal is no longer a supported mechanism for leveraging azure-chef-extension functionality. As @Vasu1105 mentioned, any of the CLI/automation tools that are compatible with azure-chef-extension should be used as alternatives.

Documentation for automation can be found here: https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/chef

[2020-03-31 19:05] #290 closed

[2020-05-01 20:31] larry-herz opened #291 "Extension pinned to now Deprecated Chef Client version"
Am using the extension for a customer to install the client via AzDo, and with the deprecation of the v14 client, we need a way to get the v15 (or preferably 16) client to install with the extension. I noticed a closed PR from April 2019 stating that the version would be pinned to 14 until 15 was verified with Azure. Are there any plans to allow 15 or 16 to be deployed with this extension?

[2020-05-04 04:25] Vasu1105 commented on #291
Thank you @larry-herz. Yes we do need to update extension to support 15 and 16 which might take some time.  We will update on this asap.

[2020-05-05 15:27] larry-herz commented on #291
As an FYI, I was able to force the installation of 15 (sort of.) We used the "bootstrap_version" to force the installation of the 15.10.12 version of the infra client. Unfortunately, we have not found a good way to add the license acceptance to the client.rb, and apparently that is needed. I already had the default attribute set to accept the license, but until it is added to the client.rb the win

[2020-05-05 16:21] Vasu1105 commented on #291
Yes @larry-herz that's right so this all require code changes to be done.

[2020-05-06 21:46] btm opened #292 "Install no longer supported via the Azure Portal"
Installing the extension is no longer supported through the Azure Portal. We should remove the documentation and replace it with a warning that it is no longer supported.

https://docs.chef.io/azure_portal/

![image](https://user-images.githubusercontent.com/4381/81231436-24f94f00-8fc1-11ea-9d13-dfa8ce836f22.png)

[2020-05-06 21:46] btm commented on #292
Internal to Chef context: https://chefio.slack.com/archives/CAF2UDZCN/p1585679386041300

[2020-05-27 09:05] NAshwini opened #294 "Cleanup ASM usage from readme.md"
As azure is no more supporting ASM Commands we need to cleanup its usage from https://github.com/chef-partners/azure-chef-extension/blob/master/README.md

[2020-06-09 11:51] NAshwini commented on #291
Thank you @larry-herz. We have added support for chef-15 in latest release [1210.13.3.1](https://github.com/chef-partners/azure-chef-extension/releases/tag/1210.13.3.1)

[2020-06-19 06:19] Vasu1105 commented on #292
We have updated the docs for this so closing it now.

[2020-06-19 06:19] Vasu1105 commented on #291
This release is out so closing it now.

[2020-06-19 06:19] #291 closed

[2020-06-25 11:47] trickyearlobe opened #297 "Feature Request: Download Chef from URL in air gapped environments"
**Problem Statement**

- Some customers do not allow their VM's to access the internet
- **azure-chef-extension** currently has 2 mechanisms to perform the chef package install
  - Executing the the omnibus installer scripts from the internet for [linux](https://github.com/chef-partners/azure-chef-extension/blob/350c7b4c90d7ae53ba431c03e09175f96c33049e/ChefExtensionHandler/bin/chef-install.sh#L67)

[2020-06-25 12:07] NAshwini opened #298 "Remove pinned of chef 15 to latest chef-client"
### Issue Description
Currently azure-chef-extension by default pointing to `chef-15` which should be replaced by latest chef-client. But currently chef-16 is giving below error which need to fix.
Error:
[code]

[2020-06-29 06:32] Vasu1105 opened #299 "Clean up old option from the examples which has been removed and also update docs."
There are lot of stable on the readme and examples which needs to be cleaned up and updated. For e.g. AutoUpdateClient, DeleteChefConfig all this options are removed so all this needs to be cleaned up from docs.

[2020-07-07 00:26] jscatala opened #302 "No such file or directory @ rb_sysopen - /etc/chef/client.rb With Chef 16 and Centos 7.7"
Hello!

Currently i'm testing a machine with CentOs 7.7 on azure. When i try to run any bootstrap_version with chef 16 ( i try all versions of chef 16.0.* until 16.2.73.

`
az vm extension set --resource-group RSG  --vm-name MACHINE_NAME   --name LinuxChefClient   --publisher Chef.Bootstrap.WindowsAzure   --version 1210.13 --protected-settings '{"validation_key": "<KEY>"}'   --settings '{ "bootstr

[2020-07-07 04:29] Vasu1105 commented on #302
Yes this is not the azure-chef-extension issue is the chef-client 16 known-issue. Closing this as we recommend to be on Chef 15 till the Chef 16 gets stable.

[2020-07-07 04:29] #302 closed

[2020-07-09 15:32] gsreynolds commented on #297
Resolved by #300

[2020-07-09 15:32] #297 closed

[2020-07-26 13:52] trickyearlobe opened #303 "Install/Enable fails when using chef_package_url"
## Problem
A large enterprise customer has no internet connectivity from their Azure VM's and so they are using the new `chef_package_url` option added in `1210.13.3.2` to download the installation package from Internal Azure Blob Store.

On Windows, they are reporting that the Chef Client gets installed, but the nodes don't register to Chef.
I can replicate this by pointing `chef_package_url` to

[2020-07-27 14:11] trickyearlobe opened #305 "Install fails on Linux when proxy does SSL intercept"
# Problem description
Azure Chef Extension installs the `azure-chef-extension` gem which is embedded locally in the Azure Chef Extension.

When the Azure Chef Extension tries to `gem install azure-chef-extension-0.0.1.gem` it first reaches out to `https://rubygems.org` before it does the local install.

In an enterprise Azure environment many organisations use the Azure Firewall with SSL intercept

[2020-07-28 06:22] NAshwini commented on #298
Currently tested azure-chef- extension with chef-client Version `16.3.38` but still facing the same.
Chef-client gets installed but facing error while creating chef configuration files for both Linux and windows. Need to handle it.

[2020-08-01 09:45] trickyearlobe commented on #305
Resolved by #306

[2020-08-01 09:45] #305 closed

[2020-08-01 09:46] trickyearlobe commented on #303
Resolved by #304

[2020-08-01 09:46] #303 closed

[2020-08-01 13:32] trickyearlobe commented on #298
@NAshwini @Vasu1105

This problem occurs because `Chef::Knife::Core::BootstrapContext.knife_config` was renamed to `Chef::Knife::Core::BootstrapContext.chef_config` in Chef Client 16.

It's used in
- https://github.com/chef-partners/azure-chef-extension/blob/master/lib/chef/azure/core/bootstrap_context.rb
- https://github.com/chef-partners/azure-chef-extension/blob/master/lib/chef/azure/core/windo

[2020-08-01 15:00] trickyearlobe commented on #298
It looks like the root cause of this problem is that Azure Chef Gem has its own custom bootstrap code (copied from Chef Client) that partially monkey patches `Chef::Knife::Core::BootstrapContext` that is shipped in Chef client (probably to override the bootstrap templates).

The version that ships in Chef client has diverged significantly due to some cleanup in several PR's such as https://github.

[2020-08-07 05:33] NAshwini opened #310 "Testing azure-chef-extension for chef-16 on Windows 10 pro"
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on Windows 10 pro 1809.

[2020-08-07 05:36] NAshwini opened #311 "Come back again with flag `AutoUpdateClient`"

[2020-08-07 06:49] #311 closed

[2020-08-07 06:50] Vasu1105 commented on #311
Creating detailed issue with description @NAshwini.

[2020-08-07 06:53] Vasu1105 opened #312 "Introduce AutoUpdateClient flag"
We have removed this flag earlier as there was some issues with that flag. I need to check the history to check why we have deleted that as I am not aware with it and the PR's related to it does not have the description on those. I will add more description in detail once I have all the information in hand.

[2020-08-11 05:09] NAshwini opened #313 "Testing azure-chef-extension for chef-16 on Ubuntu 18"
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on Ubuntu 18.

[2020-08-11 05:13] NAshwini opened #314 "Testing azure-chef-extension for chef-16 on Windows 2019"
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on Windows 2019.

[2020-08-11 05:16] NAshwini opened #315 "Testing azure-chef-extension for chef-16 on ubuntu 16/ ubuntu 20"
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on ubuntu 16/ ubuntu 20

[2020-08-11 05:17] NAshwini opened #316 "Testing azure-chef-extension for chef-16 on redhat 8."
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on redhat 8.

[2020-08-11 06:06] NAshwini commented on #311
Detailed information added on issue https://github.com/chef-partners/azure-chef-extension/issues/312

[2020-08-11 13:03] raghureddy45 opened #317 "Using chef tags with ARM deployment"
Hello team, I didn't find any examples of using chef tags with ARM template deployment.

can I use chef tags with the extension?

[2020-08-11 13:09] Vasu1105 commented on #317
If you are talking about --tags option in knife bootstrap you can try passing that in bootstrap_options hash in azure-chef-extension.

[2020-08-11 15:08] raghureddy45 commented on #317
thanks @Vasu1105

I have tried this but it didn't work.

[code]

[2020-08-11 15:48] ayushbhatt29 commented on #310
Tested azure chef extension in windows 10 pro with bootstrap options -[chef_package_path, chef_package_url, run-list, policyfile, daemon] with following commands

**Windows 10 pro 1909**

-  az vm extension set --resource-group "ayush-resgrp" --vm-name "ayush-vm2" --name "ChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'valida

[2020-08-11 16:37] Vasu1105 commented on #317
Okay @raghureddy45. We will look into this.

[2020-08-12 04:33] sanga1794 commented on #314
Tested azure chef extension in windows 2019 with bootstrap options -[chef_package_path, chef_package_url, run-list, policyfile, daemon, chef_License] with following commands.

Windows 2019 version 1809:

- az vm extension set --resource-group "sanga-resource" --vm-name "sanga-win19" --name "ChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected

[2020-08-12 13:15] Vasu1105 commented on #312
Closing this as this is not required.

[2020-08-12 13:15] #312 closed

[2020-08-12 18:14] Vasu1105 commented on #298
@NAshwini we don't have to work on 2nd point.

[2020-08-13 15:05] ayushbhatt29 commented on #313
Tested azure chef extension in Ubuntu 18 with bootstrap options -[chef_package_path, chef_package_url, run-list, policyfile] with following commands

**Ubuntu 18**

- az vm extension set --resource-group "ayush-resgrp" --vm-name "testayush" --name "LinuxChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'validation_key': '-----BE

[2020-08-14 12:05] sanga1794 commented on #315
Tested azure chef extension in ubuntu-16.04 and ubuntu-20.04 with bootstrap options: [chef_package_path, chef_package_url, run-list, policyfile, chef_License, bootstrap_version, bootstrap_channel] with following commands.

**Ubuntu 16.04**

- az vm extension set --resource-group "SANGA-RESOURCE" --vm-name "sanga-ub16" --name LinuxChefClient --publisher Chef.Bootstrap.WindowsAzure --version 1210.13

[2020-08-14 14:01] ayushbhatt29 commented on #316
Tested azure chef extension in **Redhat 8** with bootstrap options -[chef_package_path, chef_package_url, run-list, policyfile, daemon] with following commands

**Redhat enterprise linux 8.0**

- az vm extension set --resource-group "ayush-resgrp" --vm-name "ayush-redhat" --name "LinuxChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-setti

[2020-08-14 14:39] NAshwini opened #318 "Testing azure-chef-extension for chef-16 on redhat 7/ redhat6"
Azure-chef-extension should be tested with all bootstrap options stated here https://github.com/chef-partners/azure-chef-extension#azure-chef-extension-usage for chef-16 on redhat6 /redhat 7

[2020-08-14 14:47] NAshwini opened #319 "Getting python syntax error for redhat8 for Environment variable option"
## While passing `'environment_variables': {'abc':'xyz'}` we are getting issue python syntax error may be this is due to `python3`
[code]

This issue was raised here https://github.com/chef-partners/azure-chef-extension/issues/316

[2020-08-15 10:43] NAshwini commented on #319
**Done testing on windows 10 pro:**

1) az vm extension set --resource-group "ash-res-grp" --vm-name "win10" --name ChefClient --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'validation_key': 'validation_key', 'client_key': 'clientkey', 'client_rb': ' ~/workspace/chef-repo/.chef/client.rb'}" --settings "{ 'bootstrap_options': { 'chef_ser

[2020-08-15 10:49] Vasu1105 commented on #319
Tested on Windows 2019 with following option
[code]
output
[code]

[2020-08-15 10:50] sanga1794 commented on #319
**Done testing on Ubuntu:**

**Ubuntu 16.04**
- az vm extension set --resource-group "SANGA-RESOURCE" --vm-name "sanga-ub1" --name LinuxChefClient --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'validation_key': '', 'client_key': '', 'client_rb': '~/chef-repo/.chef/knife.rb'}" --settings "{ 'bootstrap_options': { 'chef_server_url': 'http

[2020-08-15 11:11] #319 closed

[2020-08-15 11:11] ayushbhatt29 commented on #319
Tested on **Redhat enterprise linux**

**Redhat enterprise linux 8.0**

- az vm extension set --resource-group "ayush-resgrp" --vm-name "ayush-redhat8" --name "LinuxChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'validation_key':'', 'client_key':'', 'client_rb': 'D:\chef\chef-starter\chef-repo\.chef\knife.rb'}" --settings "{

[2020-08-15 11:19] #310 closed

[2020-08-15 11:20] #313 closed

[2020-08-15 11:20] #314 closed

[2020-08-15 11:20] #315 closed

[2020-08-15 11:20] #316 closed

[2020-08-17 12:39] NAshwini opened #321 "Improvement in code by using a variable than `$?` and `$1`."
In <a href="https://github.com/chef-partners/azure-chef-extension/blob/master/ChefExtensionHandler/bin/chef-install.sh#L22">chef-install.sh</a> there are a bunch of lines like this:
[code]
it's good to put $? in another variable so you 1) easily know what it is supposed to represent, 2) ensure nothing happens along the way where another command gets added in the future and changes the contents of

[2020-08-17 12:42] NAshwini opened #322 "Publishing and tagging extension `1210.13.4.1` and GOV cloud extension `1210.13.3.3` followed by `1210.13.4.1`"
1) Publish azure chef extension internally and externally after proper testing is done.
2) Then create a tag and release it.

[2020-08-17 12:57] NAshwini opened #323 "Setup a air-gap environment on msdn2 azure account so internally publish extension can be tested on it."
Setup a air-gap environment on msdn2 azure account so internally publish extension can be tested on it.

Reference links:
https://docs.chef.io/install_chef_air_gap/

[2020-08-18 10:06] NAshwini commented on #323
### **Setup air-gap environment as :**

**14-Aug:**
1) Made some inbound changes and did testing with windows 2019, ubuntu 18 and redhat8. Normal bootstrap is working as expected in this setup.
2) Created doc for the same.
**13-Aug:**
Able to run azure-chef-extension commands properly but was facing issue while creating client due to ssl error. i.e [2020-08-13T05:42:00+00:00] ERROR: SSL Validation

[2020-08-18 10:06] #323 closed

[2020-08-19 10:01] ayushbhatt29 commented on #318
Tested azure chef extension in Redhat 6 with following commands

**Redhat enterprise linux 6**

- az vm extension set --resource-group "sanga-resource" --vm-name "sanga-rhel6" --name "LinuxChefClient" --publisher Chef.Bootstrap.WindowsAzure --version 1210.13.4.1 --no-auto-upgrade true --protected-settings "{'validation_key':'', 'client_key':'', 'client_rb': '~/chef-repo/.chef/knife.rb'}" --setting

[2020-08-19 10:06] #318 closed

[2020-08-19 10:13] NAshwini commented on #322
Followed process of publishing extension internally and then externally.
Currently latest extension on azure cloud is available as `1210.13.4.1` and on GOV cloud `1210.13.3.3`.
Created tag and release it.
Created PR https://github.com/chef-partners/azure-chef-extension/pull/324 for release documentation.

[2020-08-26 07:02] NAshwini commented on #322
Published azure chef extension with version `1210.13.4.1` for GOV cloud.

[2020-08-26 07:02] #322 closed

[2020-08-26 07:04] NAshwini commented on #298
Delivered chef-16 with some minor fixes in azure chef extension version `1210.13.4.1`. Hence closing it.

[2020-08-26 07:04] #298 closed

[2020-08-28 10:54] ayushbhatt29 commented on #317
@raghureddy45  you can use tags option with 'custom_json_attr' option as follows
[code]

[2020-08-28 11:14] ayushbhatt29 commented on #317
@raghureddy45 you can use tags option with `'custom_json_attr'` option as follows
[code]
If you want to use it with policyfile you can use it as
[code]

[2020-09-07 14:04] trickyearlobe opened #327 "Status not updated properly if install has to be retried."
# Problem
If the installation fails on the first attempt and is successful on the second attempt, the extension status is not correctly updated in Azure.

This is problematic for customers using DINE policies (deploy if not exists) as they cannot determine which clients failed to deploy.

# Example Failure scenario (which occurs for a major customer)

* Azure Chef Extension is deployed alongside a

[2020-09-07 14:23] trickyearlobe opened #328 "Install fails if MSI installer in use when Azure Extension applied"
If Azure Chef Client extension is deployed to a machine along with another extension that needs the MSI installer, the Chef Client Extension fails because the MSI installer is busy.

Wait/Retries are not correctly handled in the extension, but if DINE policy (Deploy if not exists) causes a retry, the client will eventually install, but does not update its status to Azure.

[2020-09-09 13:27] dheerajd-msys commented on #327
In order to reproduce the issue, we've tried to fail the first chef extension, and status in Azure Portal depicts failure.
When we set the chef extension successfully on VM second time. Portal reports success. (**So status is updated** )
So prima facie it looks like the issue is not being reproduced.

So in order to reproduce the issue, we may need some more details and steps.

[2020-09-10 16:07] ayushbhatt29 commented on #328
We have tried to reproduce the issue with two extensions and both as MSI installer by deploying them simultaneously, Azure Chef Client extension was installed without failure after installation of first extension completed.
Status of both extension was updated to Azure portal as success.

We may need some more details to reproduce the issue.

[2020-09-14 12:27] dheerajd-msys commented on #327
Working with the template deployment to check if multiple extension installations work in the same  way

[2020-09-15 17:06] trickyearlobe commented on #327
@affieuk, could you provide the DINE policy you've been using (with your secret stuff redacted) ?

[2020-09-16 11:00] sgkoutscloudreach opened #329 "High CPU utilizaton on Windows 2019"
Hi,

I would like to inform you about the issue when using the extension with Windows 2019.

We are observing intermittent prolonged high CPU utilization which is showing up in the event logs as WMI errors. When inspecting the logs we found that the following line is the culprit:

`powershell -nologo -noprofile -executionpolicy unrestricted Import-Module C:\Packages\Plugins\Chef.Bootstrap.WindowsA

[2020-09-25 08:29] ayushbhatt29 commented on #317
@raghureddy45 any updates ?

[2020-09-28 07:45] Vasu1105 commented on #317
@raghureddy45 As discussed above you can provide tags in the `custom_json_attr` to work. I am closing this issue feel free to open it if the issue still exist.

[2020-09-28 07:45] #317 closed

[2020-10-07 13:22] ayushbhatt29 commented on #329
Hello @sgkoutscloudreach, can you please try to upgrade your azure-chef-extension version as the one you are using is too old and we are not able to reproduce the same on latest azure-chef-extension version.

[2020-10-07 13:24] sgkoutscloudreach commented on #329
Hi @ayushbhatt29. I will try and get back to you.

Thanks

[2020-10-07 13:32] ayushbhatt29 commented on #329
@sgkoutscloudreach sure, Thank you.

[2020-10-26 09:38] dpapkin commented on #292
Please update https://docs.microsoft.com/en-us/azure/developer/chef/client-install-from-azure-portal

Since https://docs.chef.io/azure_portal/ states Install extension no longer supported via azure portal chef/chef-web-docs#2504

My students tried this for several hours and got frustrated

[2020-10-26 13:19] dpapkin commented on #292
They closed it but did not fix the web page https://docs.microsoft.com/en-us/azure/developer/chef/client-install-from-azure-portal

[2020-10-26 13:25] dpapkin commented on #292
It has not been uodated, what is your explanation for closing it without updating the webpage?

https://docs.microsoft.com/en-us/azure/developer/chef/client-install-from-azure-portal

Please escalate

[2020-10-27 00:30] Vasu1105 commented on #292
@dpapkin Thank you for brought that to our notice. We will work on updating that docs on Microsoft.

[2020-10-30 04:41] Vasu1105 commented on #292
@dpapkin we have took care of updating docs at https://docs.microsoft.com/en-us/azure/developer/chef/client-install-from-azure-portal. So closing it. Thanks.

[2020-10-30 04:41] #292 closed

[2020-11-02 13:11] ayushbhatt29 commented on #329
@sgkoutscloudreach any updates ?

[2020-11-03 09:28] sgkoutscloudreach commented on #329
Hi @ayushbhatt29. I didn't have a chance to test the servers that had issues but I can confirm that other Windows 2019 servers do not have the same issue, so it appears to be related to the version of the extension

[2020-11-03 09:52] Vasu1105 commented on #329
@sgkoutscloudreach  so can we close this issue ?

[2020-11-03 09:54] sgkoutscloudreach commented on #329
@Vasu1105 yes, please. If it reoccurs again I will be getting in touch again.

Thank you.

[2020-11-03 10:00] Vasu1105 commented on #329
Thank you @sgkoutscloudreach.

[2020-11-03 10:00] #329 closed

[2020-11-05 10:39] #321 closed

[2020-11-13 08:39] ayushbhatt29 commented on #273
Hello @bgs113, can you please provide more details as where you are getting `ruby is not found` error when tasks are failing, in which log file is this error visible?
 Thank you!

[2020-11-18 17:59] soniqua opened #331 "Get Win32_Product in chef-install.psm1 polluting Windows logs"
With reference to the following Microsoft Troubleshooting Document (https://docs.microsoft.com/en-us/troubleshoot/windows-server/admin-development/windows-installer-reconfigured-all-applications), the use of Get `Win32_Product` can pollute WIndows logs and trigger WMI verification/resiliency checks. This has been observed when adding this extension to Virtual Machines.

Suggestion from Microsoft i

[2020-12-14 17:55] #331 closed

[2021-02-15 08:16] ayushbhatt29 opened #334 "Deployment of Azure Chef extension is failing in Ubuntu 20.04"
When deploying Azure Chef Client extension `1210.13.4.2` in **Ubuntu 20.04**, its failing with following error.

**Command Used -**
[code]
**Error -**
[code]

[2021-02-17 10:59] dheerajd-msys commented on #273
Fixed via https://github.com/chef-partners/azure-chef-extension/pull/332 and released in `1210.13.4.2`

[2021-02-17 10:59] #273 closed

[2021-02-23 16:13] gscho opened #336 "Add support for service type "none" for linux VMs"
Having a service type of none for linux VMs would be desirable so that users can opt to manage the chef-client process using one of the built in chef_client resources:

* chef_client_cron
* chef_client_launchd
* chef_client_systemd_timer

As a work around, a user must first remove the cron entry manually in their base cookbook:

[code]

[2021-03-04 15:14] gscho opened #338 "Linux `chef_package_url` setting does not strip query parameters from file extension"
When specifying the `chef_package_url` setting for linux VMs, any query parameters are not stripped from the filename, causing the install to fail.

Specifying an auth token as a query parameter like this:
[code]
Will cause the install to fail:

[code]

[2021-03-15 05:22] #338 closed

[2021-03-30 05:43] #334 closed

[2021-04-30 23:09] mcalik77 opened #343 "type_handler_version = "1210.13""
It is not installing on windows machine if we put the version 1210.13 - It was working fine until 2 days ago. When I tried to deploy with terraform it is not able to install it. If I tried with 1210.12 it is installing.

[2021-05-03 22:45] okandamar0610 commented on #343
We use terraform resources to install chef_extension. (type_handler_version = "1210.13")

`resource azurerm_virtual_machine_extension chef_extention {
  count = var.chef_extention_enabled ? 1 : 0

  name      = "ChefClient"
  publisher = "Chef.Bootstrap.WindowsAzure"
  type      = "ChefClient"

  type_handler_version = "1210.13"
  virtual_machine_id   = azurerm_windows_virtual_machine.virtual_mach

[2021-05-04 14:15] ayushbhatt29 commented on #343
HI @mcalik77 & @okandamar0610
This error is coming with latest **Chef Infra Client** version `17.0.242`, we have created an issue for the same  https://github.com/chef/chef/issues/11516.

Meanwhile you can use previous versions of chef client with the help of these options `'bootstrap_version': '16.13.16', 'bootstrap_channel':'stable'` or `'chef_package_url' : 'download url of required chef-client

[2021-05-11 23:14] trickyearlobe commented on #328
https://github.com/chef-partners/azure-chef-extension/pull/344 may help with diagnosing this issue

[2021-05-12 18:23] trickyearlobe opened #346 "Install fails with CC17 due to dependency on knife libraries"
## Issue
When installing CC17, the install scripts try to require `chef/knife/core/bootstrap_context`

Since `knife` was removed from CC17 this results in a stack trace that looks like this:-

[code]

## Possible fix
Refactor the bootstrap code to rely on more traditional bootstrap/registration methods such as:-
- Lay down a `client.rb`
- Lay down a `validator.pem`
- Run the chef-client to auto-re

[2021-05-13 20:09] trickyearlobe commented on #343
See #346

[2021-05-20 12:11] ayushbhatt29 commented on #343
The PR [#345 ](https://github.com/chef-partners/azure-chef-extension/pull/345) temporarily resolves this issue as we have pinned the extension to chef 16 until chef 17 is tested and verified.

[2021-05-20 15:06] ayushbhatt29 opened #349 "Pin azure-chef-extension to chef 16 until chef 17 is tested and verified."
Currently azure-chef-extension is facing issue with chef-client 17, so until it is supported pin azure-chef-extension to chef-client 16.

[2021-05-20 17:18] ayushbhatt29 commented on #349
#345 Addresses this issue, so closing it now.

[2021-05-20 17:18] #349 closed

[2021-05-20 18:50] sean-horn opened #350 "Azure chef extension policyfile support - 1210.13.4.1"
**Describe the bug**

----------------------------------------------

Team,

We are trying to enable chef-extension on providing policyfile details while using the 1210.13.4.1 extension.
When we are trying to enable through azure arm template, as mentioned in https://github.com/chef-partners/azure-chef-extension, the chef-extension is getting deployed successfully, but policy details are not getti

[2021-05-21 15:03] ayushbhatt29 commented on #350
Hi @sean-horn, this issue is not reproducible in latest version, can you please try using latest azure chef extension version `1210.13.5.2`.
Thank you!

[2021-05-21 16:15] okandamar0610 commented on #343
Yes, it works. I have added bootstrap version and channel.
[code]

[2021-05-24 09:24] TerrieB1 commented on #343
Is this now resolved for the customer, please update, thank you

[2021-05-24 13:58] ayushbhatt29 commented on #343
Hi @okandamar0610, so should we mark this issue as resolved and close it?

When **chef-17** issue will get resolved we will update on this issue, right now we have pinned the extension to chef 16 so it won't be causing this error even without using `"bootstrap_version"` option.
Thank you

[2021-05-24 14:46] ayushbhatt29 commented on #350
Any updates @sean-horn ?

[2021-05-24 16:14] okandamar0610 commented on #343
Yes, we can mark this issue as resolved.
Thank you.

[2021-05-24 16:17] TerrieB1 commented on #343
I am closing this case and ticket 27752.

[2021-05-25 05:00] ayushbhatt29 commented on #343
Thank you @okandamar0610 and @TerrieB1 closing this issue now.

[2021-05-25 05:00] #343 closed

[2021-05-27 12:03] ayushbhatt29 commented on #350
@sean-horn this is the template that we used
[code]
 We are able to see policy_name and policy_group in chef/0.settings file under `custom_json_attr` option as well as in node generated in chef-manage portal also.

[2021-06-11 08:36] ayushbhatt29 commented on #350
@sean-horn we will be closing this issue as it is not occurring with latest version, you can reopen the issue if it reoccurs.

Thank you!

[2021-06-14 22:03] btm commented on #328
@ayushbhatt29 This working for you is a matter of fortunate timing. The Windows Installer does only allows a single instance of `InstallExecuteSequence` to be running at a time and other installations will fail instead of wait.

There are a number of ways to poll if Windows Installer is currently active to reduce (but not eliminate) the the likelihood of hitting the race condition. One is looking

[2021-06-15 15:28] ayushbhatt29 commented on #350
@sean-horn We have tested with ubuntu20 and ubuntu18 by deploying azure chef extension with template and we are getting policyname and policy_group in our node.

Can you please provide all log files from your vm - i.e `chef.client.log` , `custom.log` and `waagent.log` so we can debug further into it.

In linux the location for these logs will be - `/var/log/azure/Chef.Bootstrap.WindowsAzure.LinuxC

[2021-06-16 17:49] sean-horn commented on #350
Thanks for the update, @ayushbhatt29 I'll ask the customer to review and that they should respond here.

[2021-06-17 15:55] trickyearlobe commented on #328
The customer that originally reported this to me used #344 to identify that there was an `MSI fight` going on.

The workaround they are using in their Azure DINE policy (Deploy If Not Exist) is to
- Deploy the clashing extension first
- Make Chef Extension dependent on the other extension (this causes them to deploy serially)

DINE policy dependencies are not always possible, so we should still ma

[2021-06-18 15:15] ayushbhatt29 commented on #328
Thanks @btm and @trickyearlobe, we will work on it.

[2021-06-28 07:18] TerrieB1 commented on #328
From Richard Nixon: The request to add MSI installer logging was actually implemented, and Aftab managed to diagnose that there was indeed an "MSI fight" going on. UBS have now made AzureChefExtension dependent on the clashing Extension which causes them to install serially (meaning they no longer fight with each other).

We do still need to fix the problem that if the install has to be retried (t

[2021-06-29 05:43] ayushbhatt29 commented on #350
Any updates @sean-horn ?

[2021-07-02 14:29] ayushbhatt29 opened #352 "With chef17 chef-client no longer installs as a service in windows."
With chef-client17 chef-client no longer installs as a service in windows but azure chef extension as a default installs chef-client as a service when daemon is not  which is throwing errors.

[2021-07-09 10:49] skkprogress opened #354 "Git clone error when installing cookbook"
**Customer issue: ** https://github.com/chef/customer-bugs/issues/310

**Description:**
When I attempt to install a policyfile use the NEW Chef extension in Azure Devops, I receive errors when the cookbooks are attempting to be installed. I store our cookbooks in Azure Devops as well, so the policyfile has that reference in there. The log from the task is:
`Starting: Execute chef =================

[2021-07-09 16:26] skkprogress opened #355 "Installation failure on linux 8+"
we are currently in a process of upgrading linux version to 8.3.
& we are using Azure extension for install chef-client(version 1210.12) on linux 7+.
When tried to install the same on linux 8.3. Its getting failed with below error. Can you pls. help to suggest a version , that can be used from Linux 8.3 , from Azure chefextension

`{"code":"DeploymentFailed","message":"At least one resource deploy

[2021-07-11 19:26] ayushbhatt29 commented on #350
Hi @sean-horn, we will be closing this issue, feel free to reopen the issue if it reoccurs.
For any further assistance please let us know.

Thank you!

[2021-07-11 19:26] #350 closed

[2021-07-12 13:04] ayushbhatt29 commented on #355
Hi @skkprogress, we have worked on similar issue in [334](https://github.com/chef-partners/azure-chef-extension/issues/334), can you please try with `"typeHandlerVersion": "1210.13"`  this will install the latest azure chef extension published i.e - `1210.13.5.2` and let us know if it works.

Thanks and Regards
Ayush bhatt

[2021-07-26 14:59] trickyearlobe commented on #328
In addition, Aftab mentioned in https://getchef.zendesk.com/agent/tickets/27765 that the issue occurs in about 20% of cases when the following extensions are configured without the dependencies trick.

- Microsoft.Azure.Monitoring.DependencyAgent.DependencyAgentWindows
- Chef.Bootstrap.WindowsAzure.ChefClient

[2021-08-03 21:26] btm commented on #346
@ayushbhatt29 is there a limit on the size of the extension? The linux zip is 128K when built on my workstation. If I add knife to the dependencies for the gem, `bundle cache`, and then add the gems in `vendor/cache` to the build, it is 13M.

Would that work?

[2021-08-04 12:53] btm commented on #346
@ayushbhatt29 long ago, we shipped the entire Chef Infra Client in the extension. We stopped doing that, which was good. That was pretty big, so I don't think we'll have any issues if the extension wass 13M.

In this case, I think we can get by with shipping only the Ruby libraries necessary (knife, chef, some other dependencies) in the extension as well. This doesn't replace the Infra Client inst

[2021-08-04 14:20] ayushbhatt29 commented on #346
Thanks @btm , i tried this by adding gems in vendor/cache after `bundle cache` in internally published extension and size of 13 M is not giving any errors while publishing, i think which can be reduced if required  by only adding required gems on vendor/cache.
Knife was not getting installed due to dev dependencies.

[2021-08-30 13:11] #352 closed

[2021-08-31 07:22] ayushbhatt29 commented on #355
Closing the issue, as solution for similar issue in [334](https://github.com/chef-partners/azure-chef-extension/issues/334)  has been published in chef extension version `1210.13.5.2`.
Feel free to reopen the issue if it still persists.

Thanks and Regards
Ayush bhatt

[2021-08-31 07:22] #355 closed

[2021-09-13 13:12] ayushbhatt29 commented on #354
This issue is not related to Azure-chef-extension but its of Azure DevOps Chef Extensions which is an addon for Azure DevOps to perform Chef tasks, refer to [comment](https://github.com/chef/customer-bugs/issues/310#issuecomment-916220925) given by Richard Nixon .

[2021-09-16 08:54] ayushbhatt29 opened #362 "Python not found error in Redhat 8.4"
**Description** : -
we have been trying to deploy Red Hat 8.4 virtual machines into Azure this and last week and been hitting the issues with Chef Extension. By looking at the logs it does say following:
[code]

[2021-09-21 04:20] caroysMSFT commented on #328
_There are a number of ways to poll if Windows Installer is currently active to reduce (but not eliminate) the the likelihood of hitting the race condition. One is looking for the HKLM\Software\Microsoft\Windows\CurrentVersion\Installer\InProgress registry key (keep the wow64 registry redirector in mind). A more crude one would be to look for a currently executing msiexec process._

I believe what

[2021-09-21 12:04] trickyearlobe commented on #328
Thanks @caroysMSFT, that's helpful. @ayushbhatt29, looks like we just need to call [QueryServiceStatusEx](https://docs.microsoft.com/en-us/windows/win32/api/winsvc/nf-winsvc-queryservicestatusex) to get the status of the MSI Installer service to avoid an MSI fight.

We still need to make sure we correctly update state info for Azure (important for reporting on deployment state in large estates)

[2021-09-21 14:49] caroysMSFT commented on #328
QueryServiceStatusEx was the wrong takeaway from that article.  You need to query the named system mutex "_MSIExecute" to see if someone is holding on to it.

[This article](https://dexterposh.blogspot.com/2016/02/powershell-getting-started-with-mutex.html) is a good start

[2021-09-23 07:36] shail248 commented on #362
@ayushbhatt29 Can we get an ETA on the fix.

[2021-09-23 08:23] ayushbhatt29 commented on #328
Thanks @caroysMSFT for the suggestion.

[2021-09-30 08:58] ayushbhatt29 opened #364 "When using chef-Azure-extention 1210.13.x, credentials are being printed on the logs during client converge"
**Customer bug -** https://github.com/chef/customer-bugs/issues/490

We didn't had the credentials issue earlier because our team is downloading Chef package from packages.chef.io .

Now as per Infosec team guidelines, Instead of downloading the Chef msi package from internet, we are downloading the msi package from private jfrog artifactory.

When we use chef_package_url option in ARM template to

[2021-09-30 09:12] trickyearlobe commented on #364
As a workaround, it's possible with most artifact repos (including Artifactory) to allow anonymous downloads so that credentials are not required (and thus will not be logged)

[2021-09-30 10:58] ayushbhatt29 commented on #364
Thanks @trickyearlobe for the suggestion

[2021-10-07 12:35] saghoshprogress opened #365 "Move azure-chef-extention release server under progress"
Move azure-chef-extention release server under progress

[2021-10-12 16:24] bawenna opened #367 "Exception Chef.Bootstrap.WindowsAzure.ChefClient has not exited on time on Chef Version 14"
Encountered this error when trying to install the extension with chef 14, tried this on the latest extension version as well as older versions. chef version 15 or 16 works just fine but there are gem conflicts with our cookbooks and we are stuck with 14 for a while.
install.cmd ran just fine, it was the enable.cmd it is having issues, full stack trace below:
`[10/11/2021 21:21:29.24] Executing: C:

[2021-10-14 09:27] #362 closed

[2021-10-14 14:03] btm opened #369 "Automate the azure-chef-extension release pipeline"
Do a release thing
- Migrate the Msys release VM to Progress account - chef-partners/azure-chef-extension#365
- do a release using the new VM
- update release documentation based on release process

Automate the release thing
- create a buildkite pipeline using expeditor (will work with jsnapp/releng)
- get expeditor access to the azure account e.g. add credentials to the "vault"
- can we do any a

[2021-11-12 07:59] #277 closed

[2021-12-22 13:14] snohio opened #374 "License Acceptance causing Client First Run to fail on Windows"
As a consumer of the Azure Chef Extension by using it in the Azure UI and applying to Windows systems, I would like to have a User Acceptance checkbox required on the main screen which adds `chef_license	'accept'` into the client.rb file so that the **Chef Client First Run** schedule task completes successfully and allows bootstrapping to work.

Currently, without that in the client.rb file, the S

[2022-05-25 11:06] RoyShravani commented on #327
Tried recreating the following scenarios however unable to reproduce the issue at hand :

1. Deployed 3 extensions which needs the MSI installer along with Chef extension, which would presumably keep the msi installer busy and in turn fail the Chef extension. However, all the extension were installed successfully.

2.  Failed the first installation of chef extension along with other extensions tha

[2022-05-31 04:23] RoyShravani commented on #328
We tried recreating the issue and introduced the MSI installer logging using

`  Test-Path HKLM:\Software\Microsoft\Windows\CurrentVersion\Installer\InProgress`

however we were unable to reproduce the issue in hand.

While trying to install the chef extension along with other extensions which require the MSI installer, the installation  would succeeded every time & the status of the MSI installer

[2022-06-15 15:13] affieuk commented on #327
I'd close this issue, since we're moving away from the extension.

On Wed, 25 May 2022 at 12:06, Shravani Roy ***@***.***> wrote: